aiofiles==23.2.1
aiosqlite==0.20.0
anyio==4.3.0
attrs==23.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
fake-useragent==1.5.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
loguru==0.7.2
lxml==5.2.2
m3u8==4.1.0
nest-asyncio==1.6.0
orjson==3.10.2
outcome==1.3.0.post0
pyotp==2.9.0
PySocks==1.7.1
pywatchman==2.0.0
selenium==4.21.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
tqdm==4.66.4
trio==0.25.1
trio-websocket==0.11.1
twitter==1.19.6
twitter-api-client==0.10.22
twscrape==0.12
typing_extensions==4.11.0
urllib3==2.2.1
uvloop==0.19.0
websockets==12.0
wheel @ file:///opt/homebrew/Cellar/python%403.12/3.12.3/libexec/wheel-0.43.0-py3-none-any.whl#sha256=80a49545e5e5ef2abeb79ec254447300d41dfb76914fc65efa6da8dd0a766052
wsproto==1.2.0
